<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> You are editing: <%= @song.name %></h1>
    <form action="/songs/<%= @song.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="artist_name">Artist Name: </label>
      <input type="text" name="artist_name" id="artist_name"> <br>

      <% @genres.each do |genre| %>
        <label for="<%= genre.name %>"><%= genre.name.capitalize %> </label>
        <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"> <br>
      <% end %>

      <input type="submit" value="Save">
    </form>
  </body>
</html>
