<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @song.name %></h1>
    <p>Artist Name: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></p></a>
    <% @song.genres.each do |genre| %>
      <p>Genre Name: <a href="/genres/<%= genre.slug %>"><%= genre.name %></p></a>
    <% end %>
  </body>
</html>
