<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @genre.name.upcase %></h1>
    <% @genre.artists.sort_by { |artist| artist.name }.each do |artist| %>
      <h3>Artist: <a href="/artists/<%= artist.slug %>"><%= artist.name %></a></h3>
        <% artist.songs.sort_by { |song| song.name }.each do |song| %>
          <p><a href="/songs/<%= song.slug %>"><%= song.name %></a></p>
        <% end %>
    <% end %>
  </body>
</html>
