<form  action="/songs/<%= @song.slug %>" method="post">
  <label for="artist_name">Update Artist's name</label>
  <input id="Artist Name" type="text" name="artist_name" value="<%=@song.artist.name%>">
  <input type="hidden" name="_method" value="patch">

 <%@genres.each do |genre|%>
  <li>
  <label for="genres[][name]"><%= genre.name %></label>
  <input id="<%= genre.name %>" type="checkbox" name="genres[][name]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>><br>
  </li>
  <%end%>

  <input type="submit" value="Save">

</form>


