<h1>Edit <%=@song.name%></h1>
<form method="post" action="/songs/<%=@song.slug%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<label for="song name">Song Name</label>
<input type="text" name="song[name]" id="song name" value="<%=@song.name%>">
<br>
<label for="Artist Name">Artist Name</label>
<input type="text" name="artist_name" id="Artist Name" value="<%=@song.artist.name%>">
<br>
<label for="genres">Genres</label>
<%Genre.all.each do |genre|%>
<input  type ="checkbox" name="genre[]" id="<%=genre.name%>" value="<%= genre.id%>"><%= genre.name%>
<%end%>
<br>
<input type="submit" value="Save">
</form>