   <h3><%=@song.name%></h3>
   <h3>Artists</h3>
         <li>
         <a href='/artists/<%=@artist.slug%>'>
         <%= @artist.name%></a>
         </li>
   <h3>Genres</h3>
      <% @song.genres.each do |genre|%>
         <li>
            <a href='/genres/<%=genre.slug%>'>
            <%=genre.name%></a>
         </li>
      <%end%>
